@font-face {
    font-family: CodaCaption-ExtraBold;
    src: url(../fonts/CodaCaption-ExtraBold.ttf);
}

*{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: CodaCaption-ExtraBold;
}

body{
    margin: 0;

}
.uni-padding{
    padding: 0 7%;
}
#topbar{
    background-color: blue;
    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}
#tollfree{
    float: left;
    color: white;
    margin: 0;
    margin-top: 5px;
}
#social-icon{
    float: right;
}
.fa-brands{
    background-color: white;
    color: blue;
    padding: 7px;
    border-radius: 50%;
}
#logobar{
    width: 200px;
    margin: 20px 0px;
    display: flex;
}
#logobar img{
    align-items: center;
}

#navbar{
    background-color: red;
    
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px ;
}
#navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
/* poster */
#poster{
    background-image: url(../images/im1.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column-reverse;
    
}
#poster h1{
    font-size: 50px;
    text-align: center;
    color: white;
}
#poster p{
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
}
/* why us section */
#whyussection{
    overflow: auto;
}
.red-heading{
    color: red;
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}
.section33{
    width: 33.33%;
    float: left;
    text-align: justify;
    text-align: center;
    padding: 0px 50px 40px 50px;
    box-sizing: border-box;
}
.section33 h2{
    color: red;
}

/* contact section */
#contact-container{
    background-color: red;
    color: white;
    overflow: auto;
}
.section70{
    width: 70%;
    float: left;
}
.section30{
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 80px;
}
#contact-btn{
    background-color: white;
    color: red;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}





/* footer */
#important-links{
    background-color: blue;
    color: white;
    overflow: auto;
}
.div33{
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}
.div33 h3{.
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
#footer-menu{
    /* text-decoration: none; */
    list-style-type: none;
    padding: 0;
}
#footer-menu li{
    padding: 2px;
}
#footer-menu li a{
    text-decoration: none;
    color: white;
}
#footer-menu-container{
    padding-left: 100px;
}
.para1{
    text-align: justify;
}
#para2{
    text-align: center;
}
#foooter{
    padding-left: 140px;
}
#copyright{
    background-color: red;
    color: white;
    padding: 2px;
    font-weight: 700;
}